
# BEGIN EnvatoBackup
# The directives (lines) between "BEGIN EnvatoBackup" and "END EnvatoBackup" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=8421b4024bcd6ca9e0fd9c9195569b5f
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup